<h1>My blog!</h1>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <div class='body'>
    <%= link_to 'edit', [:edit, post] %>
    <%= button_to "Delete", post, :method => :delete %>
    <hr />
  </div>
<% end %>
<%= link_to "New Post", new_post_path %>
