<h1>My Blog!</h1>
<% @posts.each do |post| %>
  <%= link_to post.title, post %>
  <%= link_to "Edit", [:edit, post] %>
  <%= button_to "Delete", post, :method => :delete %>
  <hr />
<% end %>
<%= link_to "New", new_post_path %>
